@mixin flex ($direction, $flex, $justify: initial, $align: initial) {
    display: flex;
    flex-direction: $direction;
    flex: $flex;
    justify-content: $justify;
    align-items: $align;
}

.header {
    @include flex(row, 1, space-between, center);

    .logo{
        @include flex(row, 1, flex-start, center);
        padding-left: 90px;
    }

    .navigate{
        @include flex(row, 1, space-around, center);
        font-weight: 600;

        .link{
            color: #252b42;

            &.active{
                color: #fa4a0c;
            }
        }
    }

    .side-menu-icon{
        display: none;
    }
}

@media screen and (max-width: 570px) {
    .header{

        .logo{
            padding-left: 25px !important;
            padding-top: 20px;

            img{
                height: 50px;
            }
        }

        .navigate{
            display: none !important;
        }

        .side-menu-icon{
            display: initial;
            padding-top: 20px;
        }
    }
}