.body{
    
    .phone-preview{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -125px;

        .image-left{
            margin-left: -200px;
            position: absolute;
        }

        .image-right{
            margin-right: -200px;
            margin-top: 50px;
        }
    }

    .line{
        background-color: #e4e4e4;
        height: 3px;
        width: 60%;
        margin: 0 auto;
        border: none;
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        h2{
            color: rgba(0,0,0,0.8);
            font-weight: 600;
            font-size: 44px;
            line-height: 36px;
        }

        .card{
            width: 100%;
        }
    }
}

@media screen and (max-width: 570px) {
    .phone-preview{
        top: 0 !important;

        .image-left{
            margin-left: -100px !important;
            width: 100%;
        }

        .image-right{
            width: 50%;
        }
    }

    .cards{
        h2{
            font-size: 24px !important;
            line-height: 36px !important;
        }
    }

    .line{
        width: 90% !important;
        margin: 50px auto !important;
    }
}