<app-header></app-header>
<div class="body">
  <app-banner 
    [height]="500"
    [image]="'assets/banner-top.png'" 
    [title]="'Why stay hungry when you can order from Bella Onojie'" 
    [subtitle]="'Download the Bella Onojie\'s food app now on'" 
    [buttonStyle]="'round'" >
  </app-banner>
  <div class="phone-preview">
    <img src="assets/cellphone-2.png" class="image-left">
    <img src="assets/cellphone-1.png" class="image-right">
  </div>
  <hr class="line" />
  <div class="cards">
    <h2>How the app works</h2>
    <div class="card" *ngFor="let card of cards; let i = index;">
      <app-body-card [card]="card" [index]="i"></app-body-card>
    </div>
  </div>
  <app-banner 
    [height]="400"
    [image]="'assets/banner-bottom.png'" 
    [title]="'Download the app now'" 
    [subtitle]="'Available on your favorite store. Start your premium experience now'" 
    [hasBg]="true"
    [buttonStyle]="'square'" >
  </app-banner>
</div>
<app-footer></app-footer>